//variables

$primary-color: #AC4142;
$light-color: #FFDADB;
$lighter-color: #FFF4f5;
$spacing-unit: 5px;

//fonts
@import url(https://fonts.googleapis.com/css?family=Overlock:400,700,900,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,300,700,800);

html {
  font-family: "Open Sans","PT Sans", Helvetica, Arial, sans-serif;
}

.logo-font {
  font-family: "Overlock" !important;
  font-style: italic;
}


//media queries


// For smartphones and personal (small) mobile devices. Done for consistency with hyde.css
@mixin mq-phone {
  @media  (max-width: 48em) {
    @content;
  }
}

// start content

.no-phone {

  @include mq-phone {
    display: none;
  }
}

h1.title {
  font-size: 2.5rem;
  margin-bottom: 1.8rem;
}

h2.subtitle {
  color: white;
  margin-top: 1rem;
}

h2 {
  margin-top: 2rem;
  @include mq-phone {
    font-size: 1.3rem;
  }

}

.content {
  padding-top: 3rem;
}

.post-title {
  @include mq-phone {
    font-size: 1.8rem;
  }
}

.photo-credit {
  font-size: .7rem;
}

// sidebar

.sidebar {
  padding: .5rem 1rem;

  .sidebar-nav-item {
    line-height: 1.4rem;
    font-size: .85rem;
  }
}

#sidebar-details {

  .twitterurls {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .headshot {
    max-width: 45%;
    float: left;
    margin: 2%;
  }

}

.clear {
  clear: both;
  margin-bottom: 20px;
}

.copyright {
  font-size: .6rem;
}

//mailchimp

.subscribe-block {
 background: $lighter-color;
 border-radius: 5px;
 padding: 10px 15px;

 .email {
   width: 20rem;
   font-size: .8rem;
   @include mq-phone {
     width: 15rem;
   }

 }

 .button {
   font-size: .8rem;
   -webkit-appearance: button;
   color: white;
   background: $primary-color;
   border: none;
   border-radius: 3px;
 }

}

//sharing

.share-page {
    text-align: center;
    background: $primary-color;
    color: $light-color;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 1.5 * $spacing-unit 0;

    a.sharelink {
        font-weight: 700;
        color: #fff;
        margin-left: 10px;

        &:hover {
            border-bottom: 1px #fff;
        }
    }
}
