@media (max-width: 48em) {
  .no-phone {
    display: none; } }

h1.title {
  font-size: 2.5rem;
  margin-bottom: 1.8rem; }

h2.subtitle {
  color: white;
  margin-top: 1rem; }

h2 {
  margin-top: 2rem; }
  @media (max-width: 48em) {
    h2 {
      font-size: 1.3rem; } }

.content {
  padding-top: 3rem; }

@media (max-width: 48em) {
  .post-title {
    font-size: 1.8rem; } }

.photo-credit {
  font-size: .7rem; }

.sidebar {
  padding: .5rem 1rem; }
  .sidebar .sidebar-nav-item {
    line-height: 1.4rem;
    font-size: .85rem; }

#sidebar-details .twitterurls {
  font-size: 18px;
  margin-bottom: 10px; }
#sidebar-details .headshot {
  max-width: 45%;
  float: left;
  margin: 2%; }

.clear {
  clear: both;
  margin-bottom: 20px; }

.copyright {
  font-size: .6rem; }

#mc_embed_signup {
  clear: left; }

.share-page {
  text-align: center;
  background: #ac4142;
  color: #ffdadb;
  padding: 8px 15px;
  border-radius: 5px;
  margin: 7.5px 0; }
  .share-page a.sharelink {
    font-weight: 700;
    color: #fff;
    margin-left: 10px; }
    .share-page a.sharelink:hover {
      border-bottom: 1px #fff; }
