//media queries


// For smartphones and personal (small) mobile devices. Done for consistency with hyde.css
@mixin mq-phone {
  @media  (max-width: 48em) {
    @content;
  }
}

// start content

.no-phone {

  @include mq-phone {
    display: none;
  }
}

h2 {
  margin-top: 2rem;

  @include mq-phone {
    font-size: 1.3rem;
  }

}

.content {
  padding-top: 3rem;
}

.post-title {
  @include mq-phone {
    font-size: 1.8rem;
  }
}

.photo-credit {
  font-size: .7rem;
}

// sidebar

.sidebar {
  padding: .5rem 1rem;
}

#sidebar-details {

  .headshot {
    max-width: 50%;
  }

}

.copyright {
  font-size: .6rem;
}
