@media (max-width: 48em) {
  .no-phone {
    display: none; } }

h2 {
  margin-top: 2rem; }
  @media (max-width: 48em) {
    h2 {
      font-size: 1.3rem; } }

.content {
  padding-top: 3rem; }

@media (max-width: 48em) {
  .post-title {
    font-size: 1.8rem; } }

.photo-credit {
  font-size: .7rem; }

.sidebar {
  padding: .5rem 1rem; }

#sidebar-details .headshot {
  max-width: 50%; }

.copyright {
  font-size: .6rem; }
