---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} by {{ page.author }}{% endif %}</span>
  <img class="post-image" src = "{{site.image_url}}/{{page.post_image}}">
  {{ content }}
  <div id="twitter-plug">
    {% include share-page.html %}
  </div>
  <div class="no-phone">
    {% if page.comments %}
      {% include disqus.html %}
    {% endif %}    
  </div>
</div>

{% include signup_form.html %}

{% if page.photo_credit %}
<div class="photo-credit">
  Photo credit: {{ page.photo_credit }}
</div>
{% endif %}

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date: "%b %-d, %Y" }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
